<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
<div class="container" style="text-align: center">
<h2 th:text="#{welcome.message}"></h2>
<h3 th:text="#{privateZone.message}">Esta es una zona privada de la web</h3>
<p th:text="#{userAs.message}">Usuario Autenticado como : <span sec:authentication="principal.username" th:inline="text"> [[${#httpServletRequest.remoteUser}]] </span>
</p>




		<p     th:text="#{userProducts.message}">Productos del usuario</p>

		<div class="table-responsive">


			<table class="table table-hover">

				<thead>

					<tr>

						<th class="col-md-1">id</th>

						<th class="col-md-1"  th:text="#{description}">Descripción</th>

						<th class="col-md-1"  th:text="#{price}">Precio</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>

					</tr>

				</thead>
				<tbody>

					<tr th:each="product : ${productList}">

						<td id="id" th:text="${product.id}">1</td>

						<td th:text="${product.description}">Ejercicio 1</td>

						<td th:text="${product.price}">10</td>

						<td><a  id="detalles"  th:text="#{details}"  th:href="${'/product/details/' + product.id}">detalles</a></td>

						<td><a id="eliminar"  th:text="#{delete}" th:href="${'/product/delete/' + product.id}">eliminar</a></td>

					</tr>
				</tbody>

			</table>

		</div>




	</div>
	<!-- <footer th:replace="fragments/footer" /> -->
</body>
</html>