<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav"/>
<div class="container">
<h2>Detalles de la oferta</h2> 
<div class="panel panel-default">
<div class="panel-heading" th:text="#{name}">Nombre</div>
<div class="panel-body" th:text="${product.name}">
</div>
</div>


<div class="panel panel-default">
<div class="panel-heading" th:text="#{description}">Descripcion</div>
<div class="panel-body" th:text="${product.description}">
</div>
</div>


<div class="panel panel-default">
<div class="panel-heading" th:text="#{price}">Precio</div>
<div class="panel-body" th:text="${product.price}">
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" th:text="#{date}">Fecha</div>
<div class="panel-body" th:text="${product.DueToDate}">
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" th:text="#{sold}">Vendido</div>
<div class="panel-body" th:text="${product.sold}">
</div>
</div>

</div>

<footer th:replace="fragments/footer"/>
</body>
</html>