<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">
 
<h2 th:text="#{products}">Productos</h2>
 

 
 <form class="navbar-form" action="/product/list">
 
<div class="form-group">
 
<input id="searchText" name="searchText" type="text" class="form-control" size="50"
 
placeholder="Buscar por descripción o nombre del producto">
 
</div>
 
<button type="submit" id="buscarButton" class="btn btn-default" th:text="#{button.search}">Buscar</button>
</form>

<p th:text="#{productlist.message}">Las productos que actualmente figuran en el sistema son las siguientes:</p>

<button type="button" id="updateButton" class="btn btn-default" th:text="#{button.update}">Actualizar</button>
 
<script th:inline="javascript">
/*<![CDATA[*/
	$( "#updateButton" ).click(function() {
 
var numberPage = [[${param.page}]];
 
var urlUpdate = '/product/list/update';
 
if (numberPage != null ){
 
urlUpdate += "?page="+numberPage[0];
 
}
 
$("#tableProducts").load(urlUpdate);
 
});
 
/*]]>*/
	
	
 
$( "#updateButton" ).click(function() {
 
$("#tableProducts").load('/product/list/update');
 
});
 
</script>
 
 
 
 
<div class="table-responsive">
 
 
<table class="table table-hover" th:fragment="tableProducts" id="tableProducts">
 
<thead>
 
<tr>
 
<th class="col-md-1">id</th>
 <th class="col-md-1" th:text="#{name}">nombre</th>
<th class="col-md-1" th:text="#{description}">Descripción</th>
<th class="col-md-1" th:text="#{price}">Precio</th>
<th class="col-md-1" th:text="#{date}">fecha</th>
</tr>
 
</thead>
 
<tbody>
 
<tr th:each="product : ${productList}">
 
<td id="id" th:text="${product.id}"> 1</td>

<td id="name" th:text="${product.name}"> 1</td>
 
<td id="description" th:text="${product.description}"> Ejercicio 1</td>
 
<td id="price" th:text="${product.price}">10</td>

<td th:text="${product.DueToDate}"> 1/1/01</td>
 
<td><a id="detalles" th:href="${'/product/details/' + product.id}">detalles</a></td>
 
<td>
<div sec:authorize="hasRole('ROLE_USER')" >
 
 <div th:unless="${product.sold}">
<a id="buy" th:href="${'/product/' + product.id + '/sold'}" th:text="#{button.buy}">comprar</a>
</div>
  <div th:if="${product.sold}">
<i id="sold" th:text="#{sold}">vendido</i>
</div>
</div>
 
</div>
 
</td>
 
<td><a sec:authorize="hasRole('ROLE_ADMIN')"
 
th:href="${'/product/delete/' + product.id}" th:text="#{delete}">eliminar</a>
 
</td>
 
</tr>
 
 
</tbody>
 
</table>
 
</div>
<footer th:replace="fragments/pagination"/>

</div>
<footer th:replace="fragments/footer"/>

</body>
</html>